<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ep2" />
                <binding name="ep3" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="ep1">
                    <security mode="Message">
                        <message clientCredentialType="Windows" />
                    </security>
                </binding>
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8795/PatientsService/PatientServices/ep1"
                binding="wsDualHttpBinding" bindingConfiguration="ep1" contract="ServiceReference.IPatientWriter"
                name="ep1">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8795/PatientsService/PatientServices/ep2"
                binding="basicHttpBinding" bindingConfiguration="ep2" contract="ServiceReference.IDoctorsReader"
                name="ep2" />
            <endpoint address="http://localhost:8795/PatientsService/PatientServices/ep3"
                binding="basicHttpBinding" bindingConfiguration="ep3" contract="ServiceReference.IPatientDetermining"
                name="ep3" />
        </client>
    </system.serviceModel>
</configuration>